openapi: 3.1.0
info:
  title: Edukate API
  license:
    name: GNU Affero General Public License v3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  version: 1.0.0
servers:
- url: https://edukatemeplease.online
security:
- cookieAuth: []
tags:
- name: Notifications
  description: API for managing user notifications
paths:
  /api/v1/notifications/mark-as-read:
    post:
      tags:
      - Notifications
      summary: Mark notifications as read
      description: Marks the specified notifications as read for the authenticated
        user
      operationId: markAsRead
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: Successfully marked notifications as read
          content:
            application/json:
              schema:
                type: integer
                format: int64
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: integer
                format: int64
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /api/v1/notifications/mark-all-as-read:
    post:
      tags:
      - Notifications
      summary: Mark all notifications as read
      description: Marks all notifications as read for the authenticated user
      operationId: markAsRead_1
      responses:
        "200":
          description: Successfully marked all notifications as read
          content:
            application/json:
              schema:
                type: integer
                format: int64
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: integer
                format: int64
  /api/v1/notifications:
    get:
      tags:
      - Notifications
      summary: Get user notifications
      description: Retrieves paginated notifications for the authenticated user
      operationId: getNotifications
      parameters:
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: string
          minimum: 0
      - name: size
        in: query
        description: Number of notifications per page
        required: false
        schema:
          type: string
          maximum: 100
          minimum: 1
      - name: isRead
        in: query
        description: Filter by read status (null for all notifications)
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successfully retrieved notifications
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPage"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPage"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPage"
components:
  schemas:
    BaseNotificationDto:
      type: object
      discriminator:
        propertyName: _type
      properties:
        createdAt:
          type: string
          format: date-time
        uuid:
          type: string
        isRead:
          type: boolean
        _type:
          type: string
      required:
      - _type
      - createdAt
      - isRead
      - uuid
    CheckedNotificationDto:
      allOf:
      - $ref: "#/components/schemas/BaseNotificationDto"
      - type: object
        properties:
          submissionId:
            type: integer
            format: int64
          problemKey:
            type: string
          status:
            type: string
            enum:
            - PENDING
            - SUCCESS
            - MISTAKE
            - INTERNAL_ERROR
      required:
      - createdAt
      - isRead
      - problemKey
      - status
      - submissionId
      - uuid
    InviteNotificationDto:
      allOf:
      - $ref: "#/components/schemas/BaseNotificationDto"
      - type: object
        properties:
          inviterName:
            type: string
          problemSetName:
            type: string
          problemSetShareCode:
            type: string
      required:
      - createdAt
      - inviterName
      - isRead
      - problemSetName
      - problemSetShareCode
      - uuid
    NotificationPage:
      type: object
      properties:
        notifications:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/CheckedNotificationDto"
            - $ref: "#/components/schemas/InviteNotificationDto"
            - $ref: "#/components/schemas/SimpleNotificationDto"
        statistics:
          $ref: "#/components/schemas/NotificationStatistics"
      required:
      - notifications
      - statistics
    NotificationStatistics:
      type: object
      properties:
        unread:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
      required:
      - total
      - unread
    SimpleNotificationDto:
      allOf:
      - $ref: "#/components/schemas/BaseNotificationDto"
      - type: object
        properties:
          title:
            type: string
          message:
            type: string
          source:
            type: string
      required:
      - createdAt
      - isRead
      - message
      - source
      - title
      - uuid
  securitySchemes:
    cookieAuth:
      type: apiKey
      description: JWT authentication cookie
      name: X-Auth
      in: cookie
