openapi: 3.1.0
info:
  title: Edukate API
  license:
    name: GNU Affero General Public License v3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  version: 1.0.0
servers:
- url: https://edukatemeplease.online
security:
- cookieAuth: []
tags:
- name: Authentication
  description: API for user authentication operations
paths:
  /api/v1/auth/sign-up:
    post:
      tags:
      - Authentication
      summary: Register new user
      description: Registers a new user and sends a verification email. The account
        must be verified before signing in.
      operationId: sign-up
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
        required: true
      responses:
        "202":
          description: Registration accepted — verification email sent
        "409":
          description: User with this name already exists
      security: []
  /api/v1/auth/sign-out:
    post:
      tags:
      - Authentication
      summary: Sign user out
      description: Signs out the current user by expiring their authentication token
      operationId: sign-out
      responses:
        "204":
          description: Successfully signed out
        "400":
          description: Bad request
      security: []
  /api/v1/auth/sign-in:
    post:
      tags:
      - Authentication
      summary: Sign user in
      description: Authenticates a user with provided credentials and returns a JWT
        token in a cookie
      operationId: sign-in
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
        required: true
      responses:
        "204":
          description: Successfully authenticated
        "403":
          description: Authentication failed
      security: []
  /api/v1/auth/reset-password:
    post:
      tags:
      - Authentication
      summary: Reset password
      description: Validates the one-time reset token and updates the account password
      operationId: reset-password
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "204":
          description: Password updated successfully
        "400":
          description: Validation failed
        "404":
          description: Token not found
        "410":
          description: Token expired
      security: []
  /api/v1/auth/forgot-password:
    post:
      tags:
      - Authentication
      summary: Request password reset
      description: Sends a password reset link to the given email address if an account
        exists. Always returns 202 to prevent email enumeration.
      operationId: forgot-password
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
        required: true
      responses:
        "202":
          description: Reset link sent if account exists
      security: []
  /api/v1/auth/verify-email:
    get:
      tags:
      - Authentication
      summary: Verify email address
      description: Validates the one-time token from the verification email and activates
        the account
      operationId: verify-email
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        "302":
          description: Email verified — redirecting to sign-in
        "404":
          description: Token not found
        "410":
          description: Token expired
      security: []
components:
  schemas:
    SignUpRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
        email:
          type: string
          format: email
          minLength: 1
      required:
      - email
      - password
      - username
    SignInRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
      required:
      - password
      - username
    ResetPasswordRequest:
      type: object
      properties:
        token:
          type: string
          minLength: 1
        newPassword:
          type: string
          maxLength: 2147483647
          minLength: 8
      required:
      - newPassword
      - token
    ForgotPasswordRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          minLength: 1
      required:
      - email
  securitySchemes:
    cookieAuth:
      type: apiKey
      description: JWT authentication cookie
      name: X-Auth
      in: cookie
