openapi: 3.1.0
info:
  title: Edukate API
  license:
    name: GNU Affero General Public License v3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  version: 1.0.0
servers:
- url: https://edukatemeplease.online
security:
- cookieAuth: []
tags:
- name: Checker
  description: API for scheduling checks and retrieving check results
- name: Users
  description: API for managing user information
- name: Problems
  description: API for managing and retrieving problems
- name: Submissions
  description: API for managing problem submissions
- name: Temporary Files
  description: API for managing temporary files
- name: Books
  description: API for retrieving problem books
- name: Problem Sets
  description: API for managing problem sets and user collaborations
- name: Answers
  description: API for retrieving problem answers
- name: User Settings
  description: API for managing the current user's profile and credentials
paths:
  /api/v1/users/me/avatar:
    put:
      tags:
      - User Settings
      summary: Upload or replace the current user's avatar
      operationId: uploadAvatar
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Avatar uploaded; body is the new public URL
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Unauthorized
      security:
      - cookieAuth: []
    delete:
      tags:
      - User Settings
      summary: Remove the current user's avatar
      operationId: deleteAvatar
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "204":
          description: Avatar removed
        "401":
          description: Unauthorized
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/members/{username}:
    put:
      tags:
      - Problem Sets
      summary: Set member role
      description: Assigns a role to an existing member. Requires moderator access
        and a higher role than the target.
      operationId: setMemberRole
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetMemberRoleRequest"
        required: true
      responses:
        "400":
          description: Validation failed or would leave no admin
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have sufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set or user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
    delete:
      tags:
      - Problem Sets
      summary: Remove member
      description: Removes a user from the problem set. Requires moderator access
        and a higher role than the target.
      operationId: removeMember
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Would leave no admin
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have sufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set or user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/users/me/email-change:
    post:
      tags:
      - User Settings
      summary: Request an email change — sends a verification link to the new address
      operationId: requestEmailChange
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailChangeRequest"
        required: true
      responses:
        "400":
          description: Invalid email
          content: {}
        "202":
          description: Verification email dispatched
        "401":
          description: Unauthorized
        "409":
          description: Email already in use
      security:
      - cookieAuth: []
  /api/v1/submissions:
    post:
      tags:
      - Submissions
      summary: Upload a submission
      description: Creates a new submission for a problem with the provided files
      operationId: uploadSubmission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubmissionRequest"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully created submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "403":
          description: Access denied - No submit permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "404":
          description: "User, problem, or files not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets:
    post:
      tags:
      - Problem Sets
      summary: Create problem set
      description: Creates a new problem set for the authenticated user
      operationId: createProblemSet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProblemSetRequest"
        required: true
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Problem set created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/invitations:
    get:
      tags:
      - Problem Sets
      summary: List pending invitations
      description: Lists pending invitees. Requires moderator access.
      operationId: getInvitations
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved invitations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "404":
          description: Problem set not found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - cookieAuth: []
    post:
      tags:
      - Problem Sets
      summary: Invite user
      description: Creates a pending invitation and notifies the invitee. Requires
        moderator access.
      operationId: createInvitation
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvitationRequest"
        required: true
      responses:
        "400":
          description: Validation failed or user is already a member/invitee
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Invitation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set or invitee not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/invitations/me/decline:
    post:
      tags:
      - Problem Sets
      summary: Decline invitation
      description: Declines a pending invitation addressed to the caller
      operationId: declineInvitation
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "204":
          description: Invitation declined
        "401":
          description: Unauthorized
        "403":
          description: No pending invitation for the caller
        "404":
          description: Problem set not found
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/invitations/me/accept:
    post:
      tags:
      - Problem Sets
      summary: Accept invitation
      description: Accepts a pending invitation addressed to the caller
      operationId: acceptInvitation
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Invitation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: No pending invitation for the caller
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/files/temp:
    get:
      tags:
      - Temporary Files
      summary: Get temporary files
      description: Retrieves a list of temporary files for the authenticated user
      operationId: getTempFiles
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved temporary files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileMetadata"
        "401":
          description: Unauthorized
      security:
      - cookieAuth: []
    post:
      tags:
      - Temporary Files
      summary: Upload temporary file
      description: Uploads a temporary file for the authenticated user
      operationId: uploadTempFile
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully uploaded temporary file
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Unauthorized
        "500":
          description: Failed to uploadDeprecated file
      security:
      - cookieAuth: []
    delete:
      tags:
      - Temporary Files
      summary: Delete temporary file
      description: Deletes a temporary file for the authenticated user
      operationId: deleteTempFile
      parameters:
      - name: fileName
        in: query
        description: Name of a file to delete
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully deleted temporary file
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Unauthorized
        "404":
          description: File not found
        "500":
          description: Failed to delete file
      security:
      - cookieAuth: []
  /api/v1/checker/supervisor:
    post:
      tags:
      - Checker
      summary: Request supervisor check
      description: "\n            Creates a supervisor review ticket for the given\
        \ submission and notifies the assigned supervisor.\n            The caller\
        \ must be the owner of the submission.\n            The specified supervisor\
        \ must have at least the MODERATOR role in the given problem set.\n      \
        \      A PENDING check result stub is created and linked to the ticket; it\
        \ will be resolved when\n            the supervisor submits a verdict via\
        \ POST /supervisor/{ticketId}/verdict.\n        "
      operationId: supervisorCheck
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSupervisorTicketRequest"
        required: true
      responses:
        "400":
          description: Malformed request body
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "202":
          description: Supervisor ticket created and supervisor notified
        "401":
          description: Unauthorized
        "403":
          description: Not submission owner or supervisor lacks moderator role
        "404":
          description: "Submission, problem set, or supervisor not found"
      security:
      - cookieAuth: []
  /api/v1/checker/supervisor/{ticketId}/verdict:
    post:
      tags:
      - Checker
      summary: Submit supervisor verdict
      description: "\n            Submits a verdict for a supervisor review ticket.\n\
        \            The caller must be the supervisor assigned to the ticket (supervisorId\
        \ matches authenticated user).\n            Allowed statuses in the verdict\
        \ are SUCCESS and MISTAKE only.\n            On success the linked check result\
        \ is promoted from PENDING to the verdict status (trustLevel = 1.0),\n   \
        \         the ticket is marked RESOLVED, and the submission owner receives\
        \ a notification.\n        "
      operationId: supervisorVerdict
      parameters:
      - name: ticketId
        in: path
        description: Supervisor ticket identifier (from GET /supervisor/my-tickets)
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupervisorVerdict"
        required: true
      responses:
        "400":
          description: "Bad request: SUCCESS/MISTAKE only, explanation non-blank"
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "202":
          description: "Verdict accepted; check result promoted, owner notified"
        "401":
          description: Unauthorized
        "403":
          description: Caller is not the assigned supervisor for this ticket
        "404":
          description: Ticket or associated submission not found
      security:
      - cookieAuth: []
  /api/v1/checker/self:
    post:
      tags:
      - Checker
      summary: Mark submission as self-checked
      description: Creates a self-check result for the provided submission
      operationId: selfCheck
      parameters:
      - name: id
        in: query
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "202":
          description: Self-check accepted
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Submission not found
      security:
      - cookieAuth: []
  /api/v1/checker/ai:
    post:
      tags:
      - Checker
      summary: Schedule AI check
      description: Schedules an asynchronous AI check for the provided submission
      operationId: aiCheck
      parameters:
      - name: id
        in: query
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "202":
          description: Check scheduled
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Submission not found
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}:
    get:
      tags:
      - Problem Sets
      summary: Get problem set by share code
      description: Retrieves a problem set by its share code. Returns 404 when the
        set does not exist or is private and the caller is not a member (to avoid
        leaking existence of private sets).
      operationId: getProblemSetByShareCode
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved problem set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set not found or not visible to caller
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security: []
    patch:
      tags:
      - Problem Sets
      summary: Update problem set settings
      description: "Partially updates one or more configuration fields (name, description,\
        \ isPublic, problemKeys). Null fields are left unchanged. Requires moderator\
        \ access."
      operationId: updateSettings
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProblemSetSettingsRequest"
        required: true
      responses:
        "400":
          description: Validation failed (e.g. empty body)
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/users/whoami:
    get:
      tags:
      - Users
      summary: Get current user information
      description: Retrieves information about the currently authenticated user
      operationId: whoami
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved user information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
        "404":
          description: User not found by name from token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
      security:
      - cookieAuth: []
  /api/v1/users/info:
    get:
      tags:
      - Users
      summary: Batch lookup of user info (name + avatar URL)
      description: Returns a map of name → UserInfoDto for each name that resolves
        to an existing user. Skips unknown names silently. Use for rendering lists
        of users with avatars.
      operationId: getUserInfo
      parameters:
      - name: names
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
          maxItems: 50
          minItems: 0
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully resolved user info
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/UserInfoDto"
      security:
      - cookieAuth: []
  /api/v1/users/by-prefix:
    get:
      tags:
      - Users
      summary: Get usernames by prefix
      description: "Retrieves a list of usernames matching the given prefix, ordered\
        \ alphabetically. When problemSetShareCode is provided, excludes users who\
        \ are already members or invited."
      operationId: getUserNamesByPrefix
      parameters:
      - name: prefix
        in: query
        description: The prefix to match usernames against
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return
        required: false
        schema:
          type: integer
          format: int32
          default: 5
          exclusiveMinimum: 0
      - name: problemSetShareCode
        in: query
        description: "If provided, excludes members and invited users of this problem\
          \ set"
        required: false
        schema:
          type: string
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved usernames
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - cookieAuth: []
  /api/v1/submissions/{bookSlug}/{code}/{username}:
    get:
      tags:
      - Submissions
      summary: Get submissions by username and problem key
      description: Retrieves paginated submissions for a specific user and problem
      operationId: getSubmissionsByUsernameAndProblemKey
      parameters:
      - name: bookSlug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Problem code
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: Username
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: integer
          minimum: 0
      - name: size
        in: query
        description: Number of submissions per page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
        "403":
          description: Access denied - Requires MODERATOR role
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
  /api/v1/submissions/search:
    get:
      tags:
      - Submissions
      summary: Search submissions
      description: Search and filter submissions with pagination. File URLs are only
        included for submissions owned by the authenticated user.
      operationId: searchSubmissions
      parameters:
      - name: userPrefix
        in: query
        description: Filter by username prefix
        required: false
        schema:
          type: string
      - name: bookSlugPrefix
        in: query
        description: Filter by book slug prefix
        required: false
        schema:
          type: string
      - name: problemCodePrefix
        in: query
        description: Filter by problem code prefix (e.g. '1.1')
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter by submission status
        required: false
        schema:
          type: string
          enum:
          - PENDING
          - FAILED
          - SUCCESS
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: integer
          minimum: 0
      - name: size
        in: query
        description: Number of submissions per page (max 100)
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved submissions page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseSubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseSubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/submissions/my:
    get:
      tags:
      - Submissions
      summary: Get my submissions
      description: "Requires an authenticated session via the gateway cookie. Returns\
        \ the authenticated user's submissions, optionally filtered by problemId.\
        \ Results are paginated (page, size) and sorted by createdAt in descending\
        \ order."
      operationId: getMySubmissions
      parameters:
      - name: problemKey
        in: query
        description: Optional problem key (bookSlug/code) to filter the user's submissions
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: integer
          minimum: 0
      - name: size
        in: query
        description: Number of submissions per page (max 100)
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/submissions/by-id/{id}:
    get:
      tags:
      - Submissions
      summary: Get submission by ID
      description: Retrieves a specific submission by its ID for the authenticated
        user
      operationId: getSubmissionById
      parameters:
      - name: id
        in: path
        description: Submission ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "403":
          description: Access denied - user id does not match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "404":
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/problems:
    get:
      tags:
      - Problems
      summary: Get problem list
      description: Retrieves a paginated list of problem metadata
      operationId: getProblemList
      parameters:
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: integer
          minimum: 0
      - name: size
        in: query
        description: Number of problems per page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: bookSlugPrefix
        in: query
        required: false
        schema:
          type: string
      - name: prefix
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
      - name: isHard
        in: query
        required: false
        schema:
          type: boolean
      - name: hasPictures
        in: query
        required: false
        schema:
          type: boolean
      - name: hasResult
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved problem list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemMetadata"
        "401":
          description: Authentication required when filtering by status (other than
            NOT_SOLVED)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemMetadata"
      security: []
  /api/v1/problems/{bookSlug}/{code}:
    get:
      tags:
      - Problems
      summary: Get problem by key
      description: Retrieves a specific problem by its book slug and code
      operationId: getProblem
      parameters:
      - name: bookSlug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Problem code
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved problem
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDto"
        "404":
          description: Problem not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDto"
      security: []
  /api/v1/problems/random:
    get:
      tags:
      - Problems
      summary: Get random problem key
      description: "Returns a random problem key (bookSlug/code). If the user is authenticated,\
        \ prioritizes problems the user hasn't solved yet; otherwise returns any random\
        \ problem."
      operationId: getRandomUnsolvedProblemKey
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved random problem key
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: No problems available
          content:
            application/json:
              schema:
                type: string
      security: []
  /api/v1/problems/count:
    get:
      tags:
      - Problems
      summary: Count problems
      description: Returns the total number of problems matching the filter
      operationId: count
      parameters:
      - name: bookSlugPrefix
        in: query
        required: false
        schema:
          type: string
      - name: prefix
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
      - name: isHard
        in: query
        required: false
        schema:
          type: boolean
      - name: hasPictures
        in: query
        required: false
        schema:
          type: boolean
      - name: hasResult
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved problem count
          content:
            application/json:
              schema:
                type: integer
                format: int64
        "401":
          description: Authentication required when filtering by status (other than
            NOT_SOLVED)
          content:
            application/json:
              schema:
                type: integer
                format: int64
      security: []
  /api/v1/problems/by-prefix:
    get:
      tags:
      - Problems
      summary: Get problem keys by prefix
      description: Retrieves a list of problem keys matching the given book slug and/or
        code prefix
      operationId: getProblemKeysByPrefix
      parameters:
      - name: bookSlugPrefix
        in: query
        description: Optional prefix to filter by book slug
        required: false
        schema:
          type: string
      - name: prefix
        in: query
        description: Optional prefix to match problem codes against
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return
        required: false
        schema:
          type: integer
          format: int32
          default: 5
          exclusiveMinimum: 0
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved problem keys
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security: []
  /api/v1/problem-sets/{shareCode}/members:
    get:
      tags:
      - Problem Sets
      summary: List members
      description: Lists active members and their roles. Requires moderator access.
      operationId: getMembers
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
        "404":
          description: Problem set not found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/search/member:
    get:
      tags:
      - Problem Sets
      summary: Search member problem sets
      description: "Returns problem sets the user is a member of (any role: USER,\
        \ MODERATOR, ADMIN) whose name or share code contains the query string. Optionally\
        \ filters to sets containing the given problem key."
      operationId: searchMemberProblemSets
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
          default: ""
      - name: problemKey
        in: query
        description: "Optional. When provided, restricts results to problem sets containing\
          \ this problem key (e.g. 'savchenko/1.1')."
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          exclusiveMinimum: 0
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/public:
    get:
      tags:
      - Problem Sets
      summary: Get public problem sets
      description: Returns a paginated list of publicly visible problem sets
      operationId: getPublicProblemSets
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          exclusiveMinimum: 0
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved public problem sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
      security: []
  /api/v1/problem-sets/member:
    get:
      tags:
      - Problem Sets
      summary: Get member problem sets
      description: "Returns a paginated list of problem sets the authenticated user\
        \ is a member of, optionally filtered to one or more roles. When no roles\
        \ are passed, all roles are included."
      operationId: getMemberProblemSets
      parameters:
      - name: roles
        in: query
        description: "Optional. Restricts results to sets where the user holds one\
          \ of the given roles. Multi-valued: ?roles=USER&roles=MODERATOR. Omit to\
          \ include every role."
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - USER
            - MODERATOR
            - ADMIN
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          exclusiveMinimum: 0
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved member problem sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
      security:
      - cookieAuth: []
  /api/v1/files/temp/get:
    get:
      tags:
      - Temporary Files
      summary: Download temporary file
      description: Downloads a temporary file for the authenticated user
      operationId: downloadTempFile
      parameters:
      - name: fileName
        in: query
        description: File name to download
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully downloaded temporary file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "404":
          description: File not found
      security:
      - cookieAuth: []
  /api/v1/checker/supervisor/my-tickets:
    get:
      tags:
      - Checker
      summary: List my supervisor tickets
      description: "\n            Returns supervisor review tickets assigned to the\
        \ authenticated user, newest first.\n            Optionally filtered to a\
        \ single problem set via the problemSetCode query parameter.\n           \
        \ Any authenticated user may call this endpoint; results are always scoped\
        \ to the caller.\n            Supports standard Spring pagination parameters:\
        \ page (0-based), size (default 20).\n        "
      operationId: getMySupervisorTickets
      parameters:
      - name: problemSetCode
        in: query
        description: Optional problem set share code to filter results to a single
          problem set
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Zero-based page index (default 0)
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: Page size (default 20)
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Ticket list (may be empty)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseSupervisorTicketDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResponseSupervisorTicketDto"
      security:
      - cookieAuth: []
  /api/v1/checker/submissions/{submissionId}:
    get:
      tags:
      - Checker
      summary: Get check results for submission
      description: Retrieves all check results (lightweight info) for any submission
      operationId: getCheckResultsBySubmissionId
      parameters:
      - name: submissionId
        in: path
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved check results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckResultInfo"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckResultInfo"
        "404":
          description: Submission not found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckResultInfo"
      security:
      - cookieAuth: []
  /api/v1/checker/by-id/{id}:
    get:
      tags:
      - Checker
      summary: Get check result by id
      description: Retrieves a single check result by its identifier
      operationId: getCheckResultById
      parameters:
      - name: id
        in: path
        description: Check result identifier
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
        "403":
          description: Access denied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
        "404":
          description: Check result not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
      security:
      - cookieAuth: []
  /api/v1/books:
    get:
      tags:
      - Books
      summary: Get all books
      description: Retrieves a list of all available books
      operationId: getBooks
      responses:
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved book list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookSummaryDto"
      security: []
  /api/v1/books/{slug}:
    get:
      tags:
      - Books
      summary: Get book by slug
      description: Retrieves a specific book by its slug
      operationId: getBookBySlug
      parameters:
      - name: slug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved book
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
        "404":
          description: Book not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
      security: []
  /api/v1/answers/{bookSlug}/{code}:
    get:
      tags:
      - Answers
      summary: Get answer by problem key
      description: Retrieves an answer for a specific problem
      operationId: getAnswerByProblemKey
      parameters:
      - name: bookSlug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Problem code
        required: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Successfully retrieved answer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnswerDto"
        "404":
          description: Answer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnswerDto"
      security: []
  /api/v1/problem-sets/{shareCode}/members/me:
    delete:
      tags:
      - Problem Sets
      summary: Leave problem set
      description: Removes the authenticated user from the problem set
      operationId: leaveProblemSet
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: Caller is not a member or is the last admin
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "204":
          description: Successfully left problem set
        "401":
          description: Unauthorized
        "404":
          description: Problem set not found
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/invitations/{username}:
    delete:
      tags:
      - Problem Sets
      summary: Revoke invitation
      description: Cancels a pending invitation. Requires moderator access.
      operationId: revokeInvitation
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "400":
          description: User has no pending invitation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "200":
          description: Invitation revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set or invitee not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
components:
  schemas:
    SetMemberRoleRequest:
      type: object
      properties:
        role:
          type: string
          enum:
          - USER
          - MODERATOR
          - ADMIN
      required:
      - role
    ProblemMetadata:
      type: object
      properties:
        key:
          type: string
        code:
          type: string
        bookSlug:
          type: string
        isHard:
          type: boolean
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
        createdAt:
          type: string
          format: date-time
        language:
          type: string
          enum:
          - RU
          - EN
      required:
      - bookSlug
      - code
      - createdAt
      - isHard
      - key
      - language
      - status
      - tags
    ProblemSetDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        admins:
          type: array
          items:
            type: string
        moderators:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
        problems:
          type: array
          items:
            $ref: "#/components/schemas/ProblemMetadata"
        shareCode:
          type: string
      required:
      - admins
      - isPublic
      - moderators
      - name
      - problems
      - shareCode
    EmailChangeRequest:
      type: object
      properties:
        newEmail:
          type: string
          format: email
          minLength: 1
      required:
      - newEmail
    CreateSubmissionRequest:
      type: object
      properties:
        problemKey:
          type: string
          minLength: 1
        fileNames:
          type: array
          items:
            type: string
          minItems: 1
      required:
      - fileNames
      - problemKey
    SubmissionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        problemKey:
          type: string
        userName:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - FAILED
          - SUCCESS
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        fileUrls:
          type: array
          items:
            type: string
      required:
      - createdAt
      - fileUrls
      - id
      - problemKey
      - status
      - updatedAt
      - userName
    CreateProblemSetRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
          minLength: 0
        description:
          type: string
          maxLength: 255
          minLength: 0
        isPublic:
          type: boolean
        problemKeys:
          type: array
          items:
            type: string
          minItems: 1
      required:
      - description
      - isPublic
      - name
      - problemKeys
    CreateInvitationRequest:
      type: object
      properties:
        inviteeName:
          type: string
          maxLength: 50
          minLength: 0
      required:
      - inviteeName
    CreateSupervisorTicketRequest:
      type: object
      properties:
        submissionId:
          type: integer
          format: int64
        problemSetCode:
          type: string
        supervisorName:
          type: string
      required:
      - problemSetCode
      - submissionId
      - supervisorName
    SupervisorVerdict:
      type: object
      properties:
        status:
          type: string
          enum:
          - PENDING
          - SUCCESS
          - MISTAKE
          - INTERNAL_ERROR
        errorType:
          type: string
          enum:
          - ALGEBRAIC
          - CONCEPTUAL
          - INCOMPLETE
          - NONE
          - NUMERICAL
          - UNCLEAR
          - UNIT
        explanation:
          type: string
          minLength: 1
      required:
      - errorType
      - explanation
      - status
    UpdateProblemSetSettingsRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
          minLength: 1
        description:
          type: string
          maxLength: 255
          minLength: 0
        isPublic:
          type: boolean
        problemKeys:
          type: array
          items:
            type: string
    UserDto:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            type: string
        status:
          type: string
        avatarUrl:
          type: string
      required:
      - email
      - name
      - roles
      - status
    UserInfoDto:
      type: object
      properties:
        name:
          type: string
        avatarUrl:
          type: string
      required:
      - name
    PageResponseSubmissionDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/SubmissionDto"
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
      required:
      - content
      - page
      - size
      - totalElements
      - totalPages
    ProblemDto:
      type: object
      properties:
        key:
          type: string
        code:
          type: string
        bookSlug:
          type: string
        isHard:
          type: boolean
        tags:
          type: array
          items:
            type: string
        text:
          type: string
        subproblems:
          type: array
          items:
            $ref: "#/components/schemas/Subproblem"
        images:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
        hasResult:
          type: boolean
        language:
          type: string
          enum:
          - RU
          - EN
      required:
      - bookSlug
      - code
      - hasResult
      - images
      - isHard
      - key
      - language
      - status
      - subproblems
      - tags
      - text
    Subproblem:
      type: object
      properties:
        code:
          type: string
        text:
          type: string
      required:
      - code
      - text
    UserNameWithRole:
      type: object
      properties:
        name:
          type: string
        role:
          type: string
          enum:
          - USER
          - MODERATOR
          - ADMIN
      required:
      - name
      - role
    ProblemSetMetadata:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        admins:
          type: array
          items:
            type: string
        shareCode:
          type: string
        isPublic:
          type: boolean
        size:
          type: integer
          format: int64
        solvedCount:
          type: integer
          format: int64
        currentUserRole:
          type: string
          enum:
          - USER
          - MODERATOR
          - ADMIN
      required:
      - admins
      - isPublic
      - name
      - shareCode
      - size
      - solvedCount
    FileMetadata:
      type: object
      properties:
        key:
          type: string
        authorName:
          type: string
        lastModified:
          type: string
          format: date-time
        size:
          type: integer
          format: int64
      required:
      - authorName
      - key
      - lastModified
      - size
    PageResponseSupervisorTicketDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/SupervisorTicketDto"
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
      required:
      - content
      - page
      - size
      - totalElements
      - totalPages
    SupervisorTicketDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        problemKey:
          type: string
        problemSetShareCode:
          type: string
        fileUrls:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - PENDING
          - RESOLVED
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - fileUrls
      - id
      - problemKey
      - problemSetShareCode
      - status
    CheckResultInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - PENDING
          - SUCCESS
          - MISTAKE
          - INTERNAL_ERROR
        trustLevel:
          type: number
          format: float
        errorType:
          type: string
          enum:
          - ALGEBRAIC
          - CONCEPTUAL
          - INCOMPLETE
          - NONE
          - NUMERICAL
          - UNCLEAR
          - UNIT
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - errorType
      - id
      - status
      - trustLevel
    CheckResultDto:
      type: object
      properties:
        status:
          type: string
          enum:
          - PENDING
          - SUCCESS
          - MISTAKE
          - INTERNAL_ERROR
        trustLevel:
          type: number
          format: float
        errorType:
          type: string
          enum:
          - ALGEBRAIC
          - CONCEPTUAL
          - INCOMPLETE
          - NONE
          - NUMERICAL
          - UNCLEAR
          - UNIT
        explanation:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - errorType
      - explanation
      - status
      - trustLevel
    BookSummaryDto:
      type: object
      properties:
        slug:
          type: string
        subject:
          type: string
        title:
          type: string
      required:
      - slug
      - subject
      - title
    BookDto:
      type: object
      properties:
        slug:
          type: string
        subject:
          type: string
        title:
          type: string
        citation:
          type: string
        description:
          type: string
      required:
      - citation
      - slug
      - subject
      - title
    AnswerDto:
      type: object
      properties:
        text:
          type: string
        notes:
          type: string
        images:
          type: array
          items:
            type: string
        language:
          type: string
          enum:
          - RU
          - EN
      required:
      - images
      - language
      - text
  securitySchemes:
    cookieAuth:
      type: apiKey
      description: JWT authentication cookie
      name: X-Auth
      in: cookie
