openapi: 3.1.0
info:
  title: Edukate API
  license:
    name: GNU Affero General Public License v3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  version: 1.0.0
servers:
- url: https://edukatemeplease.online
security:
- cookieAuth: []
tags:
- name: Checker
  description: API for scheduling checks and retrieving check results
- name: Users
  description: API for managing user information
- name: Problems
  description: API for managing and retrieving problems
- name: Submissions
  description: API for managing problem submissions
- name: Temporary Files
  description: API for managing temporary files
- name: Books
  description: API for retrieving problem books
- name: Problem Sets
  description: API for managing problem sets and user collaborations
- name: Answers
  description: API for retrieving problem answers
paths:
  /api/v1/submissions:
    post:
      tags:
      - Submissions
      summary: Upload a submission
      description: Creates a new submission for a problem with the provided files
      operationId: uploadSubmission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubmissionRequest"
        required: true
      responses:
        "200":
          description: Successfully created submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "403":
          description: Access denied - No submit permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "404":
          description: "User, problem, or files not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets:
    post:
      tags:
      - Problem Sets
      summary: Create problem set
      description: Creates a new problem set for the authenticated user
      operationId: createProblemSet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProblemSetRequest"
        required: true
      responses:
        "200":
          description: Problem set created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/visibility:
    post:
      tags:
      - Problem Sets
      summary: Change visibility
      description: Toggles the public/private visibility of the problem set; requires
        moderator access
      operationId: changeVisibility
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: isPublic
        in: query
        required: true
        schema:
          type: boolean
      responses:
        "200":
          description: Visibility updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/role:
    post:
      tags:
      - Problem Sets
      summary: Change user role
      description: Updates the role of a user within the problem set; requires moderator
        access
      operationId: changeUserRole
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: username
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      - name: requestedRole
        in: query
        required: true
        schema:
          type: string
          enum:
          - USER
          - MODERATOR
          - ADMIN
      responses:
        "200":
          description: Role updated
          content:
            application/json:
              schema:
                type: string
                enum:
                - USER
                - MODERATOR
                - ADMIN
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
                enum:
                - USER
                - MODERATOR
                - ADMIN
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: string
                enum:
                - USER
                - MODERATOR
                - ADMIN
        "404":
          description: Problem set or user not found
          content:
            application/json:
              schema:
                type: string
                enum:
                - USER
                - MODERATOR
                - ADMIN
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/reply-invite:
    post:
      tags:
      - Problem Sets
      summary: Reply to invitation
      description: Accepts or declines a pending invitation to join the problem set
      operationId: replyToInvite
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: response
        in: query
        required: true
        schema:
          type: boolean
      responses:
        "200":
          description: Invitation reply recorded
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        "404":
          description: Problem set not found or no pending invitation
          content:
            application/json:
              schema:
                type: string
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/problems:
    post:
      tags:
      - Problem Sets
      summary: Change problems
      description: Replaces the problem list of the problem set; requires moderator
        access
      operationId: changeProblems
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeProblemSetProblemsRequest"
        required: true
      responses:
        "200":
          description: Problems updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/leave:
    post:
      tags:
      - Problem Sets
      summary: Leave problem set
      description: Removes the authenticated user from the problem set
      operationId: leaveProblemSet
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully left problem set
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        "404":
          description: Problem set not found or user is not a member
          content:
            application/json:
              schema:
                type: string
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/invite:
    post:
      tags:
      - Problem Sets
      summary: Invite user to problem set
      description: Sends an invitation to a user to join the problem set
      operationId: inviteToProblemSet
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: inviteeName
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Invitation sent
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: string
        "404":
          description: Problem set or invitee not found
          content:
            application/json:
              schema:
                type: string
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/expire-invite:
    post:
      tags:
      - Problem Sets
      summary: Expire invitation
      description: Cancels a pending invitation for a user to join the problem set
      operationId: expireInvite
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: inviteeName
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Invitation expired
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: string
        "404":
          description: Problem set or invitee not found
          content:
            application/json:
              schema:
                type: string
      security:
      - cookieAuth: []
  /api/v1/files/temp:
    get:
      tags:
      - Temporary Files
      summary: Get temporary files
      description: Retrieves a list of temporary files for the authenticated user
      operationId: getTempFiles
      responses:
        "200":
          description: Successfully retrieved temporary files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileMetadata"
        "401":
          description: Unauthorized
      security:
      - cookieAuth: []
    post:
      tags:
      - Temporary Files
      summary: Upload temporary file
      description: Uploads a temporary file for the authenticated user
      operationId: uploadTempFile
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "200":
          description: Successfully uploaded temporary file
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Unauthorized
        "500":
          description: Failed to uploadDeprecated file
      security:
      - cookieAuth: []
    delete:
      tags:
      - Temporary Files
      summary: Delete temporary file
      description: Deletes a temporary file for the authenticated user
      operationId: deleteTempFile
      parameters:
      - name: fileName
        in: query
        description: Name of a file to delete
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully deleted temporary file
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Unauthorized
        "404":
          description: File not found
        "500":
          description: Failed to delete file
      security:
      - cookieAuth: []
  /api/v1/checker/supervisor:
    post:
      tags:
      - Checker
      summary: Request supervisor check
      description: Requests a supervisor check for the provided submission (not implemented
        yet)
      operationId: supervisorCheck
      parameters:
      - name: id
        in: query
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Reserved for future implementation
        "501":
          description: Not implemented
        "401":
          description: Unauthorized
        "403":
          description: Access denied
      security:
      - cookieAuth: []
  /api/v1/checker/self:
    post:
      tags:
      - Checker
      summary: Mark submission as self-checked
      description: Creates a self-check result for the provided submission
      operationId: selfCheck
      parameters:
      - name: id
        in: query
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "202":
          description: Self-check accepted
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Submission not found
      security:
      - cookieAuth: []
  /api/v1/checker/ai:
    post:
      tags:
      - Checker
      summary: Schedule AI check
      description: Schedules an asynchronous AI check for the provided submission
      operationId: aiCheck
      parameters:
      - name: id
        in: query
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "202":
          description: Check scheduled
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Submission not found
      security:
      - cookieAuth: []
  /api/v1/users/whoami:
    get:
      tags:
      - Users
      summary: Get current user information
      description: Retrieves information about the currently authenticated user
      operationId: whoami
      responses:
        "200":
          description: Successfully retrieved user information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
        "404":
          description: User not found by name from token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
      security:
      - cookieAuth: []
  /api/v1/submissions/{bookSlug}/{code}/{username}:
    get:
      tags:
      - Submissions
      summary: Get submissions by username and problem key
      description: Retrieves paginated submissions for a specific user and problem
      operationId: getSubmissionsByUsernameAndProblemKey
      parameters:
      - name: bookSlug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Problem code
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: Username
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: string
          minimum: 0
      - name: size
        in: query
        description: Number of submissions per page
        required: false
        schema:
          type: string
          maximum: 100
          minimum: 1
      responses:
        "200":
          description: Successfully retrieved submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
        "403":
          description: Access denied - Requires MODERATOR role
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
  /api/v1/submissions/my:
    get:
      tags:
      - Submissions
      summary: Get my submissions
      description: "Requires an authenticated session via the gateway cookie. Returns\
        \ the authenticated user's submissions, optionally filtered by problemId.\
        \ Results are paginated (page, size) and sorted by createdAt in descending\
        \ order."
      operationId: getMySubmissions
      parameters:
      - name: problemKey
        in: query
        description: Optional problem key (bookSlug/code) to filter the user's submissions
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: string
          minimum: 0
      - name: size
        in: query
        description: Number of submissions per page (max 100)
        required: false
        schema:
          type: string
          maximum: 100
          minimum: 1
      responses:
        "200":
          description: Successfully retrieved submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/submissions/by-id/{id}:
    get:
      tags:
      - Submissions
      summary: Get submission by ID
      description: Retrieves a specific submission by its ID for the authenticated
        user
      operationId: getSubmissionById
      parameters:
      - name: id
        in: path
        description: Submission ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successfully retrieved submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "403":
          description: Access denied - user id does not match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
        "404":
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionDto"
      security:
      - cookieAuth: []
  /api/v1/problems:
    get:
      tags:
      - Problems
      summary: Get problem list
      description: Retrieves a paginated list of problem metadata
      operationId: getProblemList
      parameters:
      - name: page
        in: query
        description: Page number (zero-based)
        required: false
        schema:
          type: string
          minimum: 0
      - name: size
        in: query
        description: Number of problems per page
        required: false
        schema:
          type: string
          maximum: 100
          minimum: 1
      - name: bookSlug
        in: query
        required: false
        schema:
          type: string
      - name: prefix
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
      - name: isHard
        in: query
        required: false
        schema:
          type: boolean
      - name: hasPictures
        in: query
        required: false
        schema:
          type: boolean
      - name: hasResult
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successfully retrieved problem list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemMetadata"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemMetadata"
        "401":
          description: Authentication required when filtering by status (other than
            NOT_SOLVED)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemMetadata"
      security: []
  /api/v1/problems/{bookSlug}/{code}:
    get:
      tags:
      - Problems
      summary: Get problem by key
      description: Retrieves a specific problem by its book slug and code
      operationId: getProblem
      parameters:
      - name: bookSlug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Problem code
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved problem
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDto"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDto"
        "404":
          description: Problem not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDto"
      security: []
  /api/v1/problems/random:
    get:
      tags:
      - Problems
      summary: Get random problem key
      description: "Returns a random problem key (bookSlug/code). If the user is authenticated,\
        \ prioritizes problems the user hasn't solved yet; otherwise returns any random\
        \ problem."
      operationId: getRandomUnsolvedProblemKey
      responses:
        "200":
          description: Successfully retrieved random problem key
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: No problems available
          content:
            application/json:
              schema:
                type: string
      security: []
  /api/v1/problems/count:
    get:
      tags:
      - Problems
      summary: Count problems
      description: Returns the total number of problems matching the filter
      operationId: count
      parameters:
      - name: bookSlug
        in: query
        required: false
        schema:
          type: string
      - name: prefix
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
      - name: isHard
        in: query
        required: false
        schema:
          type: boolean
      - name: hasPictures
        in: query
        required: false
        schema:
          type: boolean
      - name: hasResult
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successfully retrieved problem count
          content:
            application/json:
              schema:
                type: integer
                format: int64
        "401":
          description: Authentication required when filtering by status (other than
            NOT_SOLVED)
          content:
            application/json:
              schema:
                type: integer
                format: int64
      security: []
  /api/v1/problems/by-prefix:
    get:
      tags:
      - Problems
      summary: Get problem codes by prefix
      description: Retrieves a list of problem codes that match the given prefix
      operationId: getProblemCodesByPrefix
      parameters:
      - name: prefix
        in: query
        description: The prefix to match problem codes against
        required: true
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        description: Maximum number of results to return
        required: false
        schema:
          type: integer
          format: int32
          default: 5
          exclusiveMinimum: 0
      responses:
        "200":
          description: Successfully retrieved problem codes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security: []
  /api/v1/problem-sets/{shareCode}:
    get:
      tags:
      - Problem Sets
      summary: Get problem set by share code
      description: Retrieves a problem set by its share code; returns 403 if the set
        is private and the caller is not a member
      operationId: getProblemSetByShareCode
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully retrieved problem set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "403":
          description: Problem set is private and caller is not a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
        "404":
          description: Problem set not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemSetDto"
      security: []
  /api/v1/problem-sets/{shareCode}/users:
    get:
      tags:
      - Problem Sets
      summary: Get user roles
      description: Returns all users and their roles in the problem set; requires
        moderator access
      operationId: getUserRoles
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully retrieved user roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserNameWithRole"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/{shareCode}/invited-users:
    get:
      tags:
      - Problem Sets
      summary: Get invited users
      description: Returns the list of users with pending invitations to the problem
        set; requires moderator access
      operationId: getInvitedUsers
      parameters:
      - name: shareCode
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully retrieved invited users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "403":
          description: Caller does not have moderator access
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - cookieAuth: []
  /api/v1/problem-sets/public:
    get:
      tags:
      - Problem Sets
      summary: Get public problem sets
      description: Returns a paginated list of publicly visible problem sets
      operationId: getPublicProblemSets
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          exclusiveMinimum: 0
      responses:
        "200":
          description: Successfully retrieved public problem sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
      security: []
  /api/v1/problem-sets/owned:
    get:
      tags:
      - Problem Sets
      summary: Get owned problem sets
      description: Returns a paginated list of problem sets owned by the authenticated
        user
      operationId: getOwnedProblemSets
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          exclusiveMinimum: 0
      responses:
        "200":
          description: Successfully retrieved owned problem sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
      security:
      - cookieAuth: []
  /api/v1/problem-sets/joined:
    get:
      tags:
      - Problem Sets
      summary: Get joined problem sets
      description: Returns a paginated list of problem sets the authenticated user
        has joined
      operationId: getJoinedProblemSets
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          exclusiveMinimum: 0
      responses:
        "200":
          description: Successfully retrieved joined problem sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProblemSetMetadata"
      security:
      - cookieAuth: []
  /api/v1/files/temp/get:
    get:
      tags:
      - Temporary Files
      summary: Download temporary file
      description: Downloads a temporary file for the authenticated user
      operationId: downloadTempFile
      parameters:
      - name: fileName
        in: query
        description: File name to download
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully downloaded temporary file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "404":
          description: File not found
      security:
      - cookieAuth: []
  /api/v1/checker/submissions/{submissionId}:
    get:
      tags:
      - Checker
      summary: Get check results for submission
      description: Retrieves all check results (lightweight info) for a submission
        owned by the user
      operationId: getCheckResultsBySubmissionId
      parameters:
      - name: submissionId
        in: path
        description: Submission identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved check results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckResultInfo"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckResultInfo"
        "403":
          description: Access denied
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckResultInfo"
      security:
      - cookieAuth: []
  /api/v1/checker/by-id/{id}:
    get:
      tags:
      - Checker
      summary: Get check result by id
      description: Retrieves a single check result by its identifier
      operationId: getCheckResultById
      parameters:
      - name: id
        in: path
        description: Check result identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
        "403":
          description: Access denied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
        "404":
          description: Check result not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResultDto"
      security:
      - cookieAuth: []
  /api/v1/books:
    get:
      tags:
      - Books
      summary: Get all books
      description: Retrieves a list of all available books
      operationId: getBooks
      responses:
        "200":
          description: Successfully retrieved book list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookSummaryDto"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BookSummaryDto"
      security: []
  /api/v1/books/{slug}:
    get:
      tags:
      - Books
      summary: Get book by slug
      description: Retrieves a specific book by its slug
      operationId: getBookBySlug
      parameters:
      - name: slug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        "200":
          description: Successfully retrieved book
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
        "404":
          description: Book not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
      security: []
  /api/v1/answers/{bookSlug}/{code}:
    get:
      tags:
      - Answers
      summary: Get answer by problem key
      description: Retrieves an answer for a specific problem
      operationId: getAnswerByProblemKey
      parameters:
      - name: bookSlug
        in: path
        description: Book slug
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Problem code
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved answer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnswerDto"
        "404":
          description: Answer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnswerDto"
      security: []
components:
  schemas:
    CreateSubmissionRequest:
      type: object
      properties:
        problemKey:
          type: string
          minLength: 1
        fileNames:
          type: array
          items:
            type: string
          minItems: 1
      required:
      - fileNames
      - problemKey
    SubmissionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        problemKey:
          type: string
        userName:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - FAILED
          - SUCCESS
        createdAt:
          type: string
          format: date-time
        fileUrls:
          type: array
          items:
            type: string
      required:
      - createdAt
      - fileUrls
      - id
      - problemKey
      - status
      - userName
    CreateProblemSetRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
          minLength: 0
        description:
          type: string
          maxLength: 255
          minLength: 0
        isPublic:
          type: boolean
        problemKeys:
          type: array
          items:
            type: string
          minItems: 1
      required:
      - description
      - isPublic
      - name
      - problemKeys
    ProblemMetadata:
      type: object
      properties:
        key:
          type: string
        code:
          type: string
        bookSlug:
          type: string
        isHard:
          type: boolean
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
      required:
      - bookSlug
      - code
      - isHard
      - key
      - status
      - tags
    ProblemSetDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        admins:
          type: array
          items:
            type: string
        isPublic:
          type: boolean
        problems:
          type: array
          items:
            $ref: "#/components/schemas/ProblemMetadata"
        shareCode:
          type: string
      required:
      - admins
      - isPublic
      - name
      - problems
      - shareCode
    ChangeProblemSetProblemsRequest:
      type: object
      properties:
        problemKeys:
          type: array
          items:
            type: string
          minItems: 1
      required:
      - problemKeys
    UserDto:
      type: object
      properties:
        name:
          type: string
        roles:
          type: array
          items:
            type: string
        status:
          type: string
      required:
      - name
      - roles
      - status
    ProblemDto:
      type: object
      properties:
        key:
          type: string
        code:
          type: string
        bookSlug:
          type: string
        isHard:
          type: boolean
        tags:
          type: array
          items:
            type: string
        text:
          type: string
        subtasks:
          type: array
          items:
            $ref: "#/components/schemas/Subtask"
        images:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - SOLVED
          - SOLVING
          - FAILED
          - NOT_SOLVED
        hasResult:
          type: boolean
      required:
      - bookSlug
      - code
      - hasResult
      - images
      - isHard
      - key
      - status
      - subtasks
      - tags
      - text
    Subtask:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
      required:
      - id
      - text
    UserNameWithRole:
      type: object
      properties:
        name:
          type: string
        role:
          type: string
          enum:
          - USER
          - MODERATOR
          - ADMIN
      required:
      - name
      - role
    ProblemSetMetadata:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        admins:
          type: array
          items:
            type: string
        shareCode:
          type: string
        isPublic:
          type: boolean
        size:
          type: integer
          format: int64
      required:
      - admins
      - isPublic
      - name
      - shareCode
      - size
    FileMetadata:
      type: object
      properties:
        key:
          type: string
        authorName:
          type: string
        lastModified:
          type: string
          format: date-time
        size:
          type: integer
          format: int64
      required:
      - authorName
      - key
      - lastModified
      - size
    CheckResultInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - SUCCESS
          - MISTAKE
          - INTERNAL_ERROR
        trustLevel:
          type: number
          format: float
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - status
      - trustLevel
    CheckResultDto:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - MISTAKE
          - INTERNAL_ERROR
        trustLevel:
          type: number
          format: float
        errorType:
          type: string
          enum:
          - ALGEBRAIC
          - CONCEPTUAL
          - INCOMPLETE
          - NONE
          - NUMERICAL
          - UNCLEAR
          - UNIT
        explanation:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - errorType
      - explanation
      - status
      - trustLevel
    BookSummaryDto:
      type: object
      properties:
        slug:
          type: string
        subject:
          type: string
        title:
          type: string
      required:
      - slug
      - subject
      - title
    BookDto:
      type: object
      properties:
        slug:
          type: string
        subject:
          type: string
        title:
          type: string
        citation:
          type: string
        description:
          type: string
      required:
      - citation
      - slug
      - subject
      - title
    AnswerDto:
      type: object
      properties:
        text:
          type: string
        notes:
          type: string
        images:
          type: array
          items:
            type: string
      required:
      - images
      - text
  securitySchemes:
    cookieAuth:
      type: apiKey
      description: JWT authentication cookie
      name: X-Auth
      in: cookie
